@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$mainFont: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$colorBlack: #000000;
$colorYellow: #E08709;;
$colorGreen: #71B100;
$colorWhite: #FFFFFF;
$colorGray: #e1e1e1;
$colorDarkGray: #333333;

$separation: 5rem;

// Fuentes
$sizeThin: 300;
$sizeRegular : 400;
$sizeBold: 700;
$sizeBlack: 900